
     
.app-header{
    color: #fff;
        background-color: #e91e63;
        text-align: center;
    -webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    padding: 10px;
    }

.app-heading{
font-size: 25px;
  @media (min-width: 800px) {
    font-size: 30px;
  }
  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

    