<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Full Stack Development</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://cdn-images-1.medium.com/max/1000/1*WsCbTb1pZx1J4Ki3wC0Kgg.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          Full Stack Developers are developers that design complete apps and websites. These developers work on 
          all facets of development, from frontend, to backend, to database and even debugging and testing. 
      </p>
    </mat-card-content>
  </mat-card>